.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Totalhome {
  background-color: #006064 !important;
}
#slide {
  margin-top: 5px;
}
#h3slide {
  font-weight: bold;
}
.accueil:hover {
  color: rgb(122, 163, 161) !important;
  font-weight: bold;
}
#logo-header {
  width: 75px;
  cursor: pointer;
}
.white-text {
  cursor: pointer;
}

#image-article {
  width: 100%;
  height: 70%;
}
#fond-article {
  background-color: #00838f;
  margin-right: 10px;
  padding-top: 10px;
}
#fond-pub {
  background-color: #bdbdbd ;
}
.titre-article {
  font-size: 30px;
  color:white;
  margin-bottom: 0px !important;
}
.hr-article {
  height: 10px;
  color: azure !important;
}
footer {
  margin-top: 5px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: white !important;
  background-color: #006064;
}
span {
  color: white;
}
#total {
  margin-top: 5px;
}
.bot {
  float: right;
  margin-right: 30px;
  margin-top: 5px;
}
h2 {
  color: #20314b;
  text-align: center;
  margin-top: 5px;
}
#image-pub {
  width: 100%;
  height: 30%;
}
.modal {
  
}